* {
    padding: 0px;
    margin: 0px;
}

.top-header {
    display: flex;
    justify-content: center;
    border-bottom: solid 2px #dedede;
    background-color: #f5f5f5;
    height: 66px;
}

.top-header ul {
    display: flex;
    list-style-type: none;

}

.top-header ul li {
    display: flex;
    align-items: center;
}

.top-header ul li img {
    height: 47px;
    padding: 7px;

}

.spn {
    background-color: white;
    box-shadow: 0 0 7px 1px #666666;
}

.rit-bdr {
    border-right: solid 2px #dedede;
}

.mid-header {
    display: flex;
    justify-content: center;
    border-bottom: solid 2px #dedede;
    background-color: #ffffff;
    color: #666666;
    font-family: Arial, Helvetica, sans-serif;
}

.mid-header ul {
    display: flex;
    list-style-type: none;
    width: 53%;
    justify-content: space-around;
    cursor: pointer;
}

.mid-header ul li {
padding-top: 10px;
padding-bottom: 10px;

    align-items: center;
    text-align: center;
    width: 350px;

}

.mid-header ul li p {
    font-size: small;

}

.mid-header ul li img {
    padding-bottom: 3px;
}

.color1 {
    background-color: #666666;
    border-bottom: 10px solid #666666;
    border-bottom-left-radius: 10px;
}
.color2{
    transition: 0.4s;
}
.color2:hover {
    background-color: #E3350D;
    color: white;
}

.color3{
    transition: 0.4s;
}
.color3:hover {
    background-color: #ee6b2f;
    color: white;
}

.color4{
    transition: 0.4s;
}
.color4:hover {
    background-color: #e6bc2f;
    color: white;
}

.color5{
    transition: 0.4s;
}
.color5:hover {
    background-color: #4dad5b;
    color: white;
}

.color6{
    transition: 0.4s;
}
.color6:hover {
    background-color: #30a7d7;
    color: white;
}

.color7{
    transition: 0.4s;
    border-bottom-right-radius: 10px;

}
.color7:hover {
    background-color: #1b53ba;
    color: white;

}
.container-bg{
    background-image: url(./assets/container_bg.png);
    width: 100%;
    height: 900px;
}

.flx{
    display: flex;
}